<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word cloud</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <style>
   /*    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  #main { 
    width: 800px;
    margin: 0 auto;
}
#piechart    {
    width: 200px;
    height: 400px;
    float: left;
}

#wordcloud {
    width: 600px;
    background: black;
    height: 400px;
    margin-left: 200px;
}
} */
    </style>
</head>
<body>
    <div id="combo_chart1" class="combo_chart"></div>
    
    <div id="piechart" class="piechart" style="display: inline-block; width: 50%;"></div>
    <div id="wordcloud" style="display: inline-block; float: right; width: 50%;"><img style="width: 100%; height: 450px;" src = {{ url_for('wordcloud_hashtags') }} alt = "Image placeholder" height = "450"/></div>   
    
</body>
<script>
  var combochart = {{subJSON | safe}};
  Plotly.plot('combo_chart1',combochart,{});

  var piechart = {{pieJSON | safe}};
  Plotly.plot('piechart',piechart,{});
</script>
</html>