/*
# Assignment 2 - COMP90024 Course at The University of Melbourne
#
# Cluster and Cloud Computing - Team 48
#
# Authors:
#
#  * Arnav Garg (Student ID: 1248298)
#  * Piyush Bhandula (Student ID: 1163716)
#  * Jay Dave (Student ID: 1175625)
#  * Vishnu Priya G (Student ID: 1230719)
#  * Gurkirat Singh Chohan (Student ID: 1226595)
#
# Location: India, Melbourne, Singapore
#
*/
html, body, .container-fluid {
    overflow-x:hidden;
    background: rgb(17, 17, 17);
    box-sizing: border-box;
}

#map { 
    position: relative;
    width: 100%;
    height: 100%;
}

#sidebar {
    text-align: center;
}

#resetmap {
display: none;
position: relative;
top:5%;
left:5%;
text-align: center;
color: #fff;
background: #2f4f4f;
z-index:1000;
}